.header-left {
  font-size: 48px;
  color: blue;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4px;
  justify-content: center;
  height: 99vh;
}

.header-left > div {
    flex: 1;             /* Each child takes equal space */
}

.header-center {
  font-size: 48px;
  color: blue;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4px;
  justify-content: center;
  height: 99vh;
}

.header-right {
  font-size: 48px;
  color: blue;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4px;
  justify-content: center;
  height: 99vh;
  background-color: lightskyblue;
}

.header-right > div {
    flex: 1;             /* Each child takes equal space */
}

.box{
  font-size: 24px;
  color: blue;
  text-align: center;
  border: 4px solid black;
  margin: 4px;
  height: 100%;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical centering */
}


.temperature {
  display: flex;
  align-items: center; /* Vertically centers content */
  flex-direction: row; /* or row */
  justify-content: space-around;
}


.header {
  display: flex;
  align-items: center; /* Vertically centers content */
  flex-direction: row; /* or row */
  justify-content: left; /* Horizontally centers content */
  border: 8px solid black;
}

.fan-speed {
  height: 50%;
  min-height: 50%;
  max-height: 50%;
  background-color: aqua;

}


html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* #dash-app-content {
  height: 100%;
} */